<!DOCTYPE html>
<html lang="en">
<head>
  <title>Katalog Restaurant</title>

  <link rel="icon" href="./Icons/plant.png" type="image/png">
  <link rel="icon" href="./favicon.png">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar-menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar-brand">
      <h1>VEGAL</h1>
    </div>
    
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/alisya-mutia-mantika-92b38a229/">About Us</a></li>
      </ul>
    </nav>
    
  </header>
  <main id="maincontent" tabindex="0">  
  </main>
  <footer tabindex="0">Copyright &#169; 2023 Vegal, By Alisya Mutia Mantika</h3>
  </footer>
</body>
</html>
